<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.SetmealDishMapper">
    <insert id="save">
        insert into setmeal_dish(
            id,
            setmeal_id,
            dish_id,
            `name`,
            price,
            copies,
            create_user,
            update_user
        ) values (
                     #{id},
                     #{setmealId},
                     #{dishId},
                     #{name},
                     #{price},
                     #{copies},
                     #{createUser},
                     #{updateUser}
                 )
    </insert>


    <update id="deleteBySetmealIds">
        update setmeal_dish set is_deleted = 1
        <where>
            <foreach collection="ids" item="id" open="setmeal_id in(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>